.chat-view {
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
}

.chat-infos {
    transition: box-shadow 0.1s;
}

.chat-infos .item-card {
    border-radius: 0;
}

.chat-messages {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 1rem;
}

.new-message-bar {
    flex-flow: row;
    gap: 0.5rem
}

.new-message-bar input {
    flex-grow: 1;
}
