.radar-form h1 {
    padding-top: 1rem;
}

.radar-form section button {
    margin: 0 !important;
}

.radar-form .buttons-inline {
    display: flex;
    gap: 1rem;
}

.radar-form .buttons-inline button {
    flex-grow: 1;
}
