.modal {
    height: 100vh;
    background-color: var(--bright-bg);
    z-index: 100;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    padding: 0 1rem;
}

.modal .buttons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.modal .error {
    color: var(--danger-accent);
}

.deletion-warning h1 {
    margin: 6rem 0 4rem 0;
}

.deletion-warning h2 {
    line-height: 2;
}

.deletion-warning .buttons {
    flex-grow: 1;
    gap: 6rem;
}

.ReactModal__Overlay {
    z-index: 1010;
}
