.App {
  background-color: var(--dark-bg);
  height: 100vh;
  box-sizing: border-box;
}

:root {
  --dark-bg: #FAFAFA;
  --bright-bg: #FFFFFF;
  --accent-dark: #000000;
}

main h1 {
  margin: 0 0 1rem 0;
  text-align: center;
}

.form {
  background-color: var(--bright-bg);
  height: 100%;
}

.form h1 {
  padding: 5rem 0 5rem 0;
}

form, .input-with-icon {
  display: flex;
  flex-flow: column nowrap;
}

form {
  padding: 1rem;
  gap: 1rem;
}

input, textarea, input::file-selector-button, button, .input-replacement, .form-error, .form-success {
  padding: 0.5rem;
  border: 0.1rem solid var(--accent-dark);
  border-radius: 0.3rem;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--bright-bg);
}

::placeholder, .input-replacement {
  color: #999;
}

input::file-selector-button {
  padding: 0 0.5rem;
  line-height: 1;
}

.dont-display {
  display: none;
}

input:not(.dont-display) + .input-replacement {
  display: none;
}

textarea {
  height: 7rem;
}

input[type=datetime-local], input[type=date], input[type=time] {
  appearance: initial;
}

button {
  color: var(--bright-bg);
  background-color: var(--accent-dark);
}

.form-error {
  color: #CC0000;
  border: 0.1rem solid #FF0000;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.form-success {
  color: #008800;
  border: 0.1rem solid #00DD00;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

button[type=submit] {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.input-with-icon svg {
  position: absolute;
  margin: 0.75rem 0.5rem;
}

.input-with-icon input, .input-with-icon .input-replacement {
  padding-left: 1.8rem;
}
