.single-message .message-content {
    position: relative;
    transition: filter 0.2s linear;
}

.single-message .message-content:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border: 0.75rem solid transparent;
    border-top-color: var(--dark-accent);
    border-bottom: 0;
    margin-bottom: -0.75rem;
}

.single-message.from-me {
    text-align: right;
    margin-left: 3rem;
    --dark-accent: var(--success-bg);
}

.single-message:not(.from-me) .message-content:after {
    left: 0.5rem;
    border-left: 0;
}

.single-message.from-me .message-content:after {
    right: 0.5rem;
    border-right: 0;
}

.single-message:not(.from-me) {
    margin-right: 3rem;
}

.single-message.unread .message-content, .single-message.unread .message-content:after {
    font-weight: bold;
    filter: invert(100%);
}

.message-content {
    display: inline-block;
    padding: 0.5rem;
    border: 0.2rem solid var(--dark-accent);
    border-radius: 1rem;
    text-align: justify;
    background-color: var(--bright-bg);
    color: var(--dark-accent);
    min-width: 1.5rem;
}

.from-live-chat {
    animation: highlight 0.5s cubic-bezier(0.4, 0, 1, 1);
}

@keyframes highlight {
    0% {
        transform: scale(2);
    }
    15% {
        transform: scale(1.6) rotate(20deg);
    }
    30% {
        transform: scale(1.2) rotate(-20deg);
    }
    45% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(10deg);
    }
    70% {
        transform: rotate(-5deg);
    }
}

.message-timestamp {
    padding: 0 1rem;
    color: var(--subtle-accent);
}
